// font
$font_default: "Roboto", Helvetica, sans-serif;

// color
$color_default: #33524c;
$color_lite: #f6f6f6;

$color_primary: #60c0ae;
$color_primary_light: #99bbb5;

$color_highlight: #80b22a;

$color_btc: #f4bf36;
$color_eth: #8ab1de;

// media query
$mq_smartphone: 480px;
$mq_tablet: 768px;
$mq_netbook: 992px;
$mq_notebook: 1200px;
$mq_desktop: 1600px;
