mixin header()
	header.header.bg-primary-gradient
		.flex--md.justify-between
			a(href='/').logo.hidden.flex--md.items-center.padding-x-4.dim.link-white <svg xmlns="http://www.w3.org/2000/svg" class="logo__icon margin-right-1" viewBox="0 0 50 65.3"><path d="M12.2 9.2c-.6 0-1 .5-1 1v2c0 .6.5 1 1 1 .6 0 1-.5 1-1v-2c.1-.6-.4-1-1-1zm-4.3 2.4c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-1.4-1.4zm.3 5.7c0-.6-.5-1-1-1h-2c-.6 0-1 .5-1 1s.5 1 1 1h2c.5.1 1-.4 1-1zm-.3 2.9l-1.4 1.4c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.4-.4.4-1 0-1.4-.3-.4-1-.4-1.4 0zm8.7-8.6L15.1 13c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3L18 13c.4-.4.4-1 0-1.4s-1-.4-1.4 0zm33.1-3.1c-.2-.2-4.5-4.8-6.5-6.6C41.9.7 40.3 0 38.8 0c-3.2 0-5 1.5-6 5.2l-3.4 11.1h-4.9C24 10 18.7 5.1 12.3 5.1 5.5 5.1 0 10.6 0 17.3 0 23.8 5 29 11.2 29.5v28.6c0 3.9 3.2 7.1 7.1 7.1h14.3c.4 0 .7 0 1.1-.1h.2c.3-.1.7-.1 1-.3.1 0 .1-.1.2-.1.3-.1.6-.3 1-.4h.1l.9-.6h.3c.1 0 .1-.1.2-.1l.3-.3c.1-.1.1-.2.2-.2l.3-.3c.1-.1.1-.2.2-.3.1-.1.2-.2.2-.3.1-.1.1-.2.2-.3.1-.1.1-.3.2-.4 0-.1.1-.2.1-.3.1-.1.1-.3.2-.4 0-.1.1-.2.1-.3.1-.2.1-.3.1-.5 0-.1 0-.2.1-.2 0-.2.1-.4.1-.5v-42c0-.6-.5-1-1-1h-7.3l3.2-10.5c.9-3.2 2-3.8 4.1-3.8 1.1 0 2.1.5 3 1.3 1.9 1.8 6.4 6.5 6.4 6.5.4.4 1 .4 1.4 0 .4-.3.4-.9 0-1.3zm-20.9 9.9l-.6 2H13.3v-2h15.5zm-17.6-1.1v10.2C6.1 27 2 22.6 2 17.3 2 11.7 6.6 7.1 12.2 7.1c5.3 0 9.6 4 10.2 9.2H12.2c-.5 0-1 .5-1 1zm26.6 40.9c0 .3 0 .6-.1 1v.1l-.3.9v.1c-.1.3-.3.5-.4.8 0 0 0 .1-.1.1-.2.2-.4.5-.6.7l-.1.1c-.2.2-.4.3-.6.5-.1.1-.2.2-.3.2-.2.1-.3.2-.5.3-.1 0-.2.1-.3.1-.2.1-.4.1-.6.2-.1 0-.2.1-.3.1-.3.1-.6.1-1 .1H18.4c-2.8 0-5.1-2.3-5.1-5.1V45.5c2.1 1.2 4.5 2.5 7.1 2.5 2.9 0 5.1-1.7 7.2-3.3 2-1.5 3.8-2.9 6-2.9 1.5 0 2.7.5 4.1 1.5v14.9zm0-39.8v22.5c-1.1-.6-2.4-1.1-4.1-1.1-2.9 0-5.1 1.7-7.2 3.3-2 1.5-3.8 2.9-6 2.9-2.4 0-4.7-1.3-6.9-2.6l-.3-.2V22.4h14.3l-5 16.6c-.2.5.1 1.1.7 1.3h.3c.4 0 .8-.3 1-.7l6.5-21.3h6.7zm-5.1 4h2c.6 0 1-.5 1-1s-.5-1-1-1h-2c-.6 0-1 .5-1 1s.4 1 1 1zM20.4 60.2c-3.7 0-4.1-1.7-4.1-3.1V51c0-.6-.5-1-1-1-.6 0-1 .5-1 1v6.1c0 1.9.8 5.1 6.1 5.1.6 0 1-.5 1-1s-.4-1-1-1zm6.1 0h-2c-.6 0-1 .5-1 1 0 .6.5 1 1 1h2c.6 0 1-.5 1-1 .1-.5-.4-1-1-1z"/></svg> Cocktail
			nav
				ul.flex--sm.margin-y-0.padding-left-0.no-list.text-center
					li.flex-grow.flex-no-basis
						a(href='/').block.padding-x-4.padding-y-3.bg-black-5.link-white Docs
					li.flex-grow.flex-no-basis
						a(href='/examples.html').block.padding-x-4.padding-y-3.dim.link-white Examples
					li.flex-grow.flex-no-basis
						a(href='https://github.com/cocktailcss/cocktail').block.padding-x-4.padding-y-3.dim.link-white GitHub
