mixin header(activePage)
	header.header.bg-primary-gradient
		.flex--md.justify-between
			a(href='index.html').logo.hidden.flex--md.items-center.padding-x-4.dim.link-white
				img(src='img/logo.svg' alt='logo').logo__icon
			nav
				ul.flex--sm.margin-y-0.padding-left-0.no-list.text-center
					each menu in data.menus
						-
							const { title, href, target } = menu
							const activeClass = activePage === href ? 'bg-black-5' : ''
						li.flex-grow.flex-no-basis
							a(
								href=href
								target=target
								class=`block padding-x-4 padding-y-3 dim ${activeClass} link-white`
							)= title
