[v-cloak] {
  display: none;
}

.font-mono {
  font-family: monospace;
}

.bg-lightgray {
  background-color: lighten(black, 98%);
}

.bg-black-5 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-primary-gradient {
  background: linear-gradient(135deg, #fc8060 0, #fc7060 100%);
}

.bg-primary-lite {
  background-color: #fcede3;
}

.color-primary-dark {
  color: #a56236;
}

.color-silver {
  color: silver;
}

.dim {
  transition: background-color 0.1s ease;
  &:hover,
  &:focus {
    @include respondTo(netbook, min) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.link-white {
  &,
  &:hover,
  &:focus {
    color: white;
  }
}

.animate-pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

$animationDelay: 100;
@while $animationDelay <= 400 {
  .animation-delay-#{$animationDelay} {
    animation-delay: #{$animationDelay}ms;
  }
  $animationDelay: $animationDelay + 100;
}
